.character {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    
    img {
        width: 414px;
        height: 325px;
        object-fit: cover;
        display: block;
        border-radius: 8px 8px 0 0;
    }

    .name {
        font-size: 25px;
        font-weight: 700;
        margin-top: 20px ;
        color: white;
    }   
}